body{
    background-color: #f4f4f4;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}

header{

    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1{
    margin: 0;
    color: #fff;
    background-color: #333;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}   


p{
    margin: 0;
    color: #333;
    
}

nav ul li{
    display: inline;
    margin: 0 10px;
}   

article{
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}   

article section{
    margin: 10px 0;
}   

footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}   